$theme-colors: (
    "primary": #af0006
);

@import "~bootstrap/scss/bootstrap";

.App {
  margin: 50px 50px 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact {
  height: 50px;
}

.contact a {
  text-decoration: none;
  color: #212529;
}