.Results {
  flex: 1;
}

.results-form {
  margin: 20px auto;
  width: 150px;
}

.results-form .form-group {
  margin-top: 10px;
}

.results-form .form-label {
  font-weight: bold;
}

.results-form .form-submit {
  margin-top: 20px;
  width: 100px;
  font-weight: bold;
}

.results-form .form-submit .loading-status,
.load-more .loading-status {
  margin-left: 10px;
}

.listings {
  margin: 10px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

@media only screen and (min-width: 600px) {
  .listings {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .listings {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .listings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.load-more {
  margin-bottom: 50px;
}